div(class="calendar disable-selection" id="calendar")
    .calendar-wraper
        div(class="text-right calendar-change-year")
            .calendar-change-year-slider
                img(src="assets/img/items/arrow_back.svg" class = "calendar-change-year-slider-prev")
                .calendar-current-month-year
                    .calendar-month
                    .calendar-current-year
                img(src="assets/img/items/arrow_forward_2.svg" class="calendar-change-year-slider-next")

    .calendar-week-list
        ul.calendar-week
    .calendar-day-list
        ul.calendar-days
    .calendar-buttons
        a(href="#" id="form-data-clear") очистить
        a(href="#" id="form-data-apply") применить




