
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-muted {
    color: #777;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  .calendar{
      position: absolute;
      top: 285px;
      left: 30px;
      padding-bottom: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
  }
  
  .calendar, .calendar .calendar-days li:after {
    position: absolute;
    z-index: 10;
    margin: auto;
  }
  
  .calendar {
    display: none;
    background: white;
    max-width: 320px;
    border-radius: 4px;
    overflow: hidden;
  }
  .calendar-days{
    padding-left: 20px;
  }
  .calendar .calendar-days li {
    position: relative;
    padding-right: 40px;
  }
  
  .calendar .calendar-week {
    text-transform: capitalize;
    padding-left: 20px;
  }
  .calendar .calendar-wraper {
    padding: 20px;
  }
  
  .calendar .calendar-wraper {
    width: 320px;
  }
  
  .calendar .calendar-days,
  .calendar .calendar-week {
    list-style: none;
    font-size: 0;
  }
  .calendar .calendar-days li,
  .calendar .calendar-week li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
  }
  .calendar .calendar-days li{
    color: #959595;
  }
  
  .calendar .calendar-days li {
    width: calc(280px / 7);
    height: 40px;
    line-height: 50px;
  }
  .calendar .calendar-days li:after {
    content: attr(data-day);
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    line-height: 40px;
    }
  .calendar .calendar-days li.another-month:after {
    color: #ccc;
  }
  
  .calendar .calendar-days li:hover:after,
  .calendar .calendar-days li.selected-day::after,
  .calendar .calendar-days li.active-day:after{
    border-radius: 50%;
  }
  .calendar .calendar-days li:hover:after,
  .calendar .calendar-days li.selected-day::after {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
  }
  .calendar .calendar-days li.selected-day_1{
    border-radius: 50px 0 0 50px;
  }
  .calendar .calendar-days li.selected-day_2{
    border-radius: 0 50px 50px 0;
  }
  
  .calendar .calendar-days li.between-selected-days {
    background-color:  rgba(66, 39, 73, 0.20);
  }
  
  .calendar .calendar-days li.active-day:after {
    color: white;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  .calendar .calendar-week {
    margin-top: 30px;
    font-weight: 600;
    color: #737373;
  }
  .calendar .calendar-week li {
    width: calc(280px / 7);
    height: 40px;
    line-height: 30px;
  }
  
  .calendar-current-month-year {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calendar .calendar-month,
  .calendar-current-year {
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    color: #1f2041;
  }
  .calendar .calendar-month {
    margin-right: 10px;
  }
  .calendar-change-year-slider {
    position: relative;
  }
  
  .calendar-change-year-slider-prev {
    position: absolute;
    font-weight: 100;
    font-size: 24px;
    color: #bc9cff;
    top: 3px;
    left: 0;
  }
  .calendar-change-year-slider-next {
    position: absolute;
    font-weight: 100;
    font-size: 24px;
    color: #bc9cff;
    top: 3px;
    right: 0px;
  }
  .calendar-change-year-slider .fa:hover {
    color: #404040;
  }
  
  .calendar-day-list{
    margin-bottom: 20px;
  }
  
  .calendar-buttons {
    display: flex;
    justify-content: space-between;
  }
  .calendar-buttons a {
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
  }
  