footer.footer
  .container
    .footer-items
      .footer-items__logo
        a(href="#"): img(src="assets/img/logo/logo.png", alt="TOXIN")
        .footer-items__logo-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer-items__navigation
        ul
          li  навигация
          li: a(href="#" class="footer-menu__link menu__link") О нас  
          li: a(href="#" class="footer-menu__link menu__link") Новости
          li: a(href="#" class="footer-menu__link menu__link") Служба поддержки
          li: a(href="#" class="footer-menu__link menu__link") Услуги
      .footer-items__aboutUs
        ul
          li  О нас  
          li: a(href="#" class="footer-menu__link menu__link") О сервисе
          li: a(href="#" class="footer-menu__link menu__link") Наша команда
          li: a(href="#" class="footer-menu__link menu__link") Вакансии 
          li: a(href="#" class="footer-menu__link menu__link") Инвесторы
      .footer-items__support
        ul
          li  Служба поддержки  
          li: a(href="#" class="footer-menu__link menu__link") Соглашения
          li: a(href="#" class="footer-menu__link menu__link") Сообщества
          li: a(href="#" class="footer-menu__link menu__link") Связь с нами
      .footer-items__subscribe
        form
          label(for="") подписка
          .footer-items__subscribe-text.
            Получайте специальные предложения и новости сервиса
          input(type="text" placeholder = "Email")
  .footer-copyright
    .container
      .footer-copyright-inner
        .footer-copyright__text.
          Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-copyright__icons
          a(href="#"): <i class="fa fa-twitter" aria-hidden="true"></i>
          a(href="#"): <i class="fa fa-facebook-square" aria-hidden="true"></i>
          a(href="#"): <i class="fa fa-instagram" aria-hidden="true"></i>




    