extends ../main

//- block variables
//-   - var title = 'TOXIN';
//-   - var description = 'Hotel TOXIN';
//-   - var pageClass = 'index-page';

//- block content
//-   section
//-     .container
//-       +item('item title', 'item descr')
     
 

//- block script
  