include ../assets/utils_pug/mixins

include ../blocks/Headers&Footers/Headers&Footers
include ../blocks/cards/cards
//- block content
//-     include ../blocks/content/content
//- include ../blocks/footer/footer

    