@import "assets/utils_scss/libs";
@import "assets/utils_scss/vars";
@import "assets/utils_scss/mixins";
@import "assets/utils_scss/fonts";
@import "assets/utils_scss/reset";

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: $mainFont;
  font-size: 14px;
  font-weight: $mainFontWeight;
  color: $main-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a.active {
  color: rgba(31, 32, 65, 0.75);
}
a.menu__link {
  text-decoration: none;
  color: $link-color;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
}

.button {
  width: 320px;
  height: 44px;
  left: 170px;
  top: 450px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  &:hover {
    transition: all 0.5s;
    border: 2px solid $main-color;
    color: $main-color;
  }
  .button__arrow {
    position: absolute;
    right: 50px;
  }
}

.button-white {
  width: 99px;
  height: 44px;
  background: #fff;
  border: 2px solid rgb(190, 162, 250);
  border-radius: 22px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #bc9cff;
}

.container {
  width: 100%;
  padding: 0 20px;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
}
@media screen and (max-height: 700px) {
  .content-form {
  }
}
// Modules
@import "./bundles/bundle.scss";
