@import "assets/utils_scss/libs";
@import "assets/utils_scss/vars";
@import "assets/utils_scss/mixins";
@import "assets/utils_scss/fonts";
@import "assets/utils_scss/reset";



body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color: $main-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a.menu__link {
  text-decoration: none;
  color: $link-color;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
}

.button {
  display: inline-block;
  padding: 8px 20px;
  font-size: 12px;
  text-align: center;
  border: 2px solid $button-entry-color;
  border-radius: 22px;
  color: $button-entry-color;
  &:hover{
    transition: all .5s;
    border: 2px solid $main-color;
    color:$main-color;
  }
}
.button-signUp {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding: 8px 20px;
  border: 2px solid #bc9cff;
  color: #fff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  &:hover{
    transition: all .5s;
    background: #fff;
    border: 2px solid $button-entry-color;
    color: $button-entry-color;
  }
}



.container {
  width: 100%;
  padding: 0 20px;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  
}
@media screen and (max-height: 700px) {
  .content-form{
    
  }
}
// Modules
@import "./bundles/bundle.scss";
