header
  .container
    .header-wraper
      .logo
        img(src="assets/img/logo/logo.png", alt="TOXIN")
      nav
        ul.header-menu
          li: a(href="#" class="header-menu__link") О нас
          li: a(href="#" class="header-menu__link") Услуги
                img(src="assets/img/items/arrow_more.jpg", alt="")
          li: a(href="#" class="header-menu__link") Вакансии
          li: a(href="#" class="header-menu__link") Новости
          li: a(href="#" class="header-menu__link") Соглашения
                img(src="assets/img/items/arrow_more.jpg", alt="")
          li: a(href="#" class="button") войти
          li: a(href="#" class="button-signUp") зарегистрироваться
           
