.content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.content-wrap {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.content-form {
  max-height: 374px;
  margin-top: 95px;
  max-width: 380px;
  padding: 40px 30px 30px;
  border-radius: 4px;
  background-color: #fff;
  label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .button {
    &-form {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 320px;
      height: 44px;
      padding-top: 2px;
      border: 2px solid #bc9cff;
      color: #fff;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;

      &:hover {
        transition: all 0.5s;
        background: #fff;
        border: 2px solid $button-entry-color;
        color: $button-entry-color;
      }
    }
  }
  .button__arrow {
    position: absolute;
    right: 15px;
  }

}
.form__text {
  font-family: $quicksandFont;
  font-weight: bold;
  width: 300px;
  font-size: 24px;
  line-height: 30px;
}

.fom-date {
  display: flex;
  margin: 20px 0;

  .form-date__checkin {
    position: relative;
    .fa {
      position: absolute;
      top: 35px;
      right: 35px;
    }
  }

  .form-date__checkout {
    position: relative;
    .fa {
      position: absolute;
      top: 35px;
      right: 35px;
    }
  }

  input {
    width: 150px;
    height: 44px;
    margin-right: 20px;
    padding: 12px 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);

    &::placeholder {
      color: $text-color;
    }
  }
}

.form-date__visitors {
  margin-bottom: 30px;
  input {
    width: 320px;
    height: 44px;
    padding: 13px 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    &::placeholder {
      color: $text-color;
    }
  }
}
.content-wraper-text {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
}
.content__text {
  width: 297px;
  position: absolute;
  bottom: 58px;
  right: 0;
  text-align: right;
  z-index: 1;
  color: $text-color;
  
}
.form-buttons {
  display: flex;
  justify-content: space-between;
}
.form-data-buttons {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}
