// Font
$mainFont                : 'Montserrat', sans-serif;
$quicksandFont           : 'Quicksand', sans-serif;

// Size
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1260px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$main-color              : #1F2041;
$text-color              : rgba(31, 32, 65, 0.75);
$default-color           : #ffffff;
$link-color              : rgba(31, 32, 65, 0.5);
$button-entry-color      : #BC9CFF;



