// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           :#1F2041;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1260px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$link-color              : rgba(31, 32, 65, 0.5);
$button-entry-color      : #BC9CFF;


